{{ plugin_name.upper_camel_case }}
====

.. automodule:: mavsdk.{{ plugin_name.lower_snake_case }}
    :members:
    :undoc-members:
    :show-inheritance:
    :exclude-members: translate_from_rpc, translate_to_rpc
